    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	
	<meta name="Skelet." property="Sēlekkt. Studio" content="https://selekkt.dk/skelet/v3/">

	<meta name="theme-color" content="#fff">

	<title>{{ site.title|e('html') }}{% if page.header.seotitle %} &mdash; {{ page.header.seotitle|e('html') }}{% else %}{% if header.title %} &mdash; {{ header.title|e('html') }}{% endif %}{% endif %}</title>
	{% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://assets/img/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url('theme://assets/img/touch.png') }}">

<!-- CSS -->
{% block stylesheets %}
	{% do assets.addCss('https://rsms.me/inter/inter.css') %}
	{% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css') %} <!-- browse the icons: https://fontawesome.com/icons?d=listing&m=free -->
	{% do assets.addCss('theme://assets/css/skelet.css') %} <!-- include Skelet. -->
	{% do assets.addCss('theme://assets/css/app.css') %} <!-- Write all of your CSS styles here -->
{% endblock %}
{{ assets.css()|raw }}

<!-- JavaScript -->
{% block javascripts %}
	{% do assets.addJs('', {group: 'bottom'}) %}
	{% do assets.addJs('theme://assets/js/modules.js', {group:'bottom'}) %} <!-- Get all your modules in 1 file -->
	{% do assets.addJs('theme://assets/js/app.js', {group:'bottom'}) %} <!-- Write all of your JS here -->
{% endblock %}
{{ assets.js()|raw }}
